<h4> <%= link_to "Ver imagen", "http://i.imgur.com/CXuVYSW.png" %> </h4>
<h3> Preguntas frecuentes </h3>
<h2> <%= link_to "1. ¿Cómo subir una imagen a una nueva subasta?", '/pregunta1' %> </h2>
<footer> <%= link_to "Volver atrás", root_path %> </footer>