<h1> ¿Cómo cargar una imagen? </h1>
<h2> Acceda al servidor Imgur ( https://imgur.com/ ) cree una cuenta ("sign up") y acceda a ella ("sign in"). 
<h4> <%= image_tag("imgur1.png")%> </h4>
<h2> Cargue la imagen deseada ("upload images") y copie su dirección URL en el campo donde se le indica que ingrese la URL de la imagen </h2>
<h4> <%= image_tag("imgur2.png")%> </h4>
<footer> <%= link_to "Volver atrás", '/ayuda' %> </footer>
<p> </p>