<h4> <%= image_tag("logo.png")%> </h4>
<h1> ¿Quiénes somos? </h1>
<h2> Una subasta o remate es una venta organizada de un producto basado en la
competencia directa, es decir, aquel comprador (postor) que pague la mayor cantidad
de dinero o de bienes es quien se quedará con el producto en cuestión.
Bestnid es considerado un remate, pero un tanto particular. En Bestnid el bien
subastado no se adjudica al postor que más dinero haya ofrecido por él, sino que cada
postor comunica por qué necesita dicho producto, y el subastador elegirá un ganador. </h2>
<footer> <%= link_to "Volver atrás", root_path %> </footer>
