body {
  padding-top: 120px;
}

h1 {
	color: red;
	text-align: center;
	font-size: 4em;
	background-color: black;
}

h3 {
	color: red;
	text-align: center;
	font-size: 3em;
	background-color: black;
}

h2 {
	color: red;
	text-align: center;
	font-size: 2em;
}

h4 {
	text-align: center;
}

h5 {
	color: blue;
	font-size: 1em;
	text-align: left;
}

header {
	color: red;
	font-size: 2em;
}

footer {
	color: blue;
	font-size: 1em;
	text-align: right;
}

.form-control {
	margin-bottom: 5px;
}